<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Actieve pagina's</h1>
</div>
<div class="wrapper-md" ng-controller="PagesActiveCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      Pagina's kunnen hier worden bewerkt.
    </div>
    <div class="panel-body b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div>
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="10">
        <thead>
          <tr>
              <th data-toggle="true">
                  Titel
              </th>
              <th>
                  Route
              </th>
              <th data-hide="phone">
                  Navigatie
              </th>
              <th data-hide="phone">
                  Tekst
              </th>
              <th>
                  Status
              </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="page in pages | filter:nav:1">
            <td><a ui-sref="app.pages.edit({pageId:page.id})">{{ page.title }}</a></td>
            <td>{{ page.route }}</td>
            <td>{{ page.nav }}</td>
            <td data-value="78025368997">{{ page.text }}</td>
            <td data-value="1">
              <span class="label bg-light" title="Disabled" ng-if="page.active == 0">Disabled</span>
              <span class="label bg-success" title="Active" ng-if="page.active == 1">Active</span>
            </td>
          </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>